#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  /* display: flex; */
  justify-content: left;

}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgb(234, 233, 233);
}

th {
  background-color: #333;
  color: white;
  font-weight: bold;
  padding: 8px;
}

td button {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.recent-trans {
  align-self: left;
}

td {
  padding: 8px;
}

tr {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}


ul {
  text-align: left;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
